body {
  font-family: Arial;
  margin: 20px;
  background: #ffeeed;
}

button {
  cursor: pointer;
  background: #fff;
  padding: 10px 20px;
  border-radius: 7px;
  outline: none;
  border: 1px solid #000;
  font-size: 20px;
  margin: 40px;
}